* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html  {
	background: black;
	font-family: 'Raleway', sans-serif;
}

.menu, main, footer {
	background: black;
}

/*MENU*/

.menu {
	color: #fff;
}

.menu .BBC {
	font-weight: 700; 
	font-size: 20px;
}

.menu a {
	color: #fff;
	text-decoration: none;
}

.menu h2 {
	font-weight: 300;
	font-size: 30px;
}


.nav a {	
	display: inline-block;
	padding: 20px;
	font-size: 15px;
	vertical-align: middle;
}

.nav a:hover {
  	color: #F0F2F4;
}

/*MAIN*/

main {
	background-image: url("https://i.ibb.co/MsfggkQ/album.png");
	background-repeat: no-repeat;	
	background-size: 350px;
    background-position: 90% 30%;
}

main h2 {
	color: white;
	font-size: 55px;
	padding: 150px 0px;
	margin-left: 20px;
}

main .order {
	text-decoration: none;
	border: solid white 1px; 
	background-color: black;
	color: white; 
	padding: 10px;
	font-size: 15px;
	font-weight: 700;
	cursor: pointer;
}

main .order:hover {
  	background-color: white;
  	color: black;
	-webkit-transition-duration: 0.4s;
 	transition-duration: 0.4s;
 }

/*SCHEDULE*/
table {
	width: 100%;
	border-spacing: 5px;	
	color: white;
	font-size: 14px;
	font-family: "Raleway","sans serif";
	background-color: #0b0b0b;
	text-align: left;
	margin: 10px 20px 60px 20px;
}

table caption {
	font-size: 30px;
	color: white;
	font-weight: 700;
	text-align: left;
	padding-bottom: 10px;
}

th, td {
	border-bottom: 1px solid #282828;
	border-collapse: collapse;	
	padding: 12px;
}

table th {
	font-size: 15px;
}


/*ANIMATION*/
#circle.on {
    animation: circle 30s infinite ease-out;
}

#circle {
    position: absolute;
    left: 20px;
    top: 560px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3fbae8;
    mix-blend-mode: screen;
}

@keyframes circle {
	0% { left:20px;top: 560px}
  	50% { left:400px;top: 560px}
  	100% { left:20px;top: 560px}
}


/*PAGS*/

#artists, article, #contact, #mv {
	padding: 50px 0;
	margin: 20px;
}

h1 {
	font-size: 50px;
	font-weight: 300;
	color: white;
	margin-bottom: 70px;
}

/*FOOTER */

footer {
	padding: 10px 0;
}

footer a {
	font-size: 10px;
	color:#fff;
	text-decoration: none;
	padding: 15px 10px 20px 0;
}

footer p {
	font-size: 8px;
	color:#fff;
	padding: 6px 0px;
	font-weight: 700;	
}

footer a:hover {
	text-decoration: underline;
}

footer img {
	width: 25px;
}

footer i {
	margin-top: 15px;
	font-size: 15px; 
	color:gray;
}