article img {
	width: 80%;
}

article a{ 	
  	text-decoration: none;
	width: 80%;
}

article h4 {
	color: black;
	background-color: white;
	padding: 10px;
	width: 80%;
	margin: auto auto 60px auto;
}